<script>
    function onBankAccountChange(arg) {
        bankAccountGridHandler.onChange(arg);
        var id = bankAccountGridHandler.currentItem().Id;
        $(".edit-action").data("action-name", "Edit?id=" + id + "&memberId=" + @Model.Id);
        $(".delete-action").data("action-name", "Delete?id=" + id + "&memberId=" + @Model.Id);
    }

    function onBankAccountDataBound(arg) {
        bankAccountGridHandler.onDataBound(arg);
    }

    function onBankAccountDataBinding(arg) {
        bankAccountGridHandler.onDataBinding(arg);
    }

    var bankAccountGridHandler;
</script>
@model BootstrapWebApplication.Models.Member

@(Html.Kendo().Grid<BootstrapWebApplication.Models.MemberBankAccountViewModel>()
    .Name("gridBankAccount")
    .Columns(columns =>
    {
        columns.Bound(p => p.Id).Hidden();
        columns.Bound(p => p.IsPrimary).Title(@Resources.IsPrimary);
        columns.Bound(p => p.RegNumber).Title(@Resources.RegNumber);
        columns.Bound(p => p.AccountNumber).Title(@Resources.AccountNumber);
        //columns.Command(command =>
        //{
        //    command
        //        .Edit().Text(@Resources.Edit);
        //        //.HtmlAttributes(new { @class = "btn-xs" });
        //    command
        //        .Destroy().Text(@Resources.Delete);
        //        //.HtmlAttributes(new { @class = "hide" });
        //})
        //.Width(200);
    })
    .ToolBar(toolbar =>
    {
        toolbar.Template(@<text>
            <div class="toolbar">
                @*@(Html.Kendo().Button()
                            .HtmlAttributes(new { @class = "create-action" })
                            .Content(@Resources.Create)
                            .Name("grid-create-button")
                            .
                            .Events(e => e.Click("createComment"))
                    )*@
                @Html.ExportToExcelButton("Excel")
                <button class="create-action k-button" data-toggle='modal' data-controller-name='BankAccount' data-action-name='Create?memberId=@Model.Id' data-model-name='BankAccount'>@Resources.Create</button>
                <button class="edit-action k-button" data-toggle='modal' data-controller-name='BankAccount' data-action-name='' data-model-name='BankAccount'>@Resources.Edit</button>
                <button class="delete-action k-button" data-toggle='modal' data-controller-name='BankAccount' data-action-name='' data-model-name='BankAccount'>@Resources.Delete</button>
            </div>
        </text>);
    })
        //.Reorderable(reorderable => reorderable.Columns(true))
    //.Editable(editable => editable.Mode(GridEditMode.InCell))
    .Pageable(pageable => pageable
        .Messages(m=>
            m.ItemsPerPage(@Resources.ItemsPerPage)
            .First(@Resources.First)
            .Previous(@Resources.Previous)
            .Next(@Resources.Next)
            .Last(@Resources.Last)
            .Refresh(@Resources.Refresh)
            .Display("{0} - {1} " + @Resources.Of.ToLower() + " {2} " + @Resources.Items.ToLower())
            .Page(@Resources.Page)
            .Of(@Resources.Of)
            .Empty(@Resources.NoItemsToDisplay))
        .Refresh(true)
        .PageSizes(true)
        .ButtonCount(10))
        //.Filterable(ftb => ftb.Mode(GridFilterMode.Row))
    //.Sortable()
    .Scrollable()
    .Navigatable()
    //.Groupable()
    .Excel(excel => excel
        .AllPages(true)
        .FileName("Kontur.xlsx")
        .Filterable(true)
        .ProxyURL(Url.Action("ExportToExcel"))
    )
    .Selectable()
    .Events(events => events.Change("onBankAccountChange").DataBound("onBankAccountDataBound").DataBinding("onBankAccountDataBinding"))
    //.HtmlAttributes(new { style = "height:410px;" })
    .DataSource(dataSource => dataSource
        .Ajax()
        .PageSize(10)
        .ServerOperation(true)
        //.Events(events => events.Error("error_handler"))
        .Model(model => model.Id(p => p.Id))
        //.Create(update => update.Action("MemberBankAccount_Create", "Member"))
        .Read(read => read.Action("Read", "BankAccount", new { id = @Model.Id }))
        //.Update(update => update.Action("MemberBankAccount_Update", "Member"))
        //.Destroy(update => update.Action("MemberBankAccount_Destroy", "Member"))
    )
)
<script>
    $(function () {

        bankAccountGridHandler = new GridHandler("#gridBankAccount");
        bankAccountGridHandler.onDoubleClick = function (item) {
            //navigate('/{Controller}/Details/' + item.Id);
        };
        bankAccountGridHandler.onItemDelete = function (item) {
            //console.log(item);
            $(".delete-action").filter(":visible").click();
        };
    });

    //function error_handler(e) {
    //    if (e.errors) {
    //        var message = "Errors:\n";
    //        $.each(e.errors, function (key, value) {
    //            if ('errors' in value) {
    //                $.each(value.errors, function () {
    //                    message += this + "\n";
    //                });
    //            }
    //        });
    //        alert(message);
    //    }
    //}
</script>