@model PagedListHeaderData
@using PagedList.Mvc;
@Styles.Render("~/css/pagedlist")
@{
    var title = @Model.Title;
    var controllerName = ViewContext.GetControllerName();
    var modalId = "create" + controllerName + "Modal";
    var divId = controllerName + "List";
    ViewBag.Title = title;
}
<h2>@title</h2>
<div class="row menu">
    <div class="col-md-12">
        <div class="pull-left" style="padding-right:4px;">
            @if (@Model.IsCreateVisible)
            {
                @Html.ActionModalButton2(@modalId, @Resources.Create, new { @class = "btn btn-primary btn-xs create-action" })
            }
        </div>
        <div class="pull-left">
            @*@Html.Partial("_PagedListFilterPartial")*@
            <form class="form-inline">
                <div class="form-group">
                    @Html.Label("filterByName", "Filter:", new { @class = "sr-only", @for = "filterName" })
                    @Html.TextBox("filterName", ViewBag.CurrentFilter as String, new { @id = "filterName", @class = "form-control input-xs", @placeholder = @Resources.FilterByName })
                </div>
                <button style="display:none;" id="filter" class="btn btn-default btn-xs">@Resources.Filter</button>
                <button id="clear" class="btn btn-danger btn-xs">@Resources.Clear</button>
            </form>
        </div>
    </div>
</div>
<script>
    $(function () {
        function find(obj) {
            var filter = obj.parent().find("input[name=filterName]").val();
            indexVM.filter(filter);
            //if ($('#pagination-controller').is(':visible')) {
            if (filter.trim().length > 0)
                $('#pagination-controller').hide();
            else
                $('#pagination-controller').show();
            //}
            //indexVM.app.run("#/page/1/" + filter);

            
        }
        if ($("#filter").is(":visible")) {
            $("#filter").click(function (e) {
                e.preventDefault();
                find($(this));
            });
        }
        else {
            $("#filterName").keyup(function (e) {
                find($(this));
            });
        }
        $("#clear").click(function (e) {
            e.preventDefault();
            $(this).closest("form").find("input[name=filterName]").val("");
            indexVM.reload();
            //window.location.href = "@controllerName";
            if (!$('#pagination-controller').is(':visible')) {
                $('#pagination-controller').show();
            }
        });
    });
</script>