@model BootstrapWebApplication.Models.FishPriceCreateEditViewModel

@if (!@Request.IsAjaxRequest())
{
    ViewBag.Title = @BootstrapResources.Resources.Create;
    <h2>@BootstrapResources.Resources.Create</h2>
}
    @*@{
            int memberId = -1;
            if(@Request != null)
            {
                int.TryParse(@Request.QueryString["id"], out memberId);
            }
        }*@
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            @if (!@Request.IsAjaxRequest())
            {
                <h4>@Resources.FishPrice</h4>
                <hr />
            }

            @Html.ValidationSummary(true)

            <div class="form-group">
                @Html.LabelFor(model => model.FishSpeciesCode, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.FishSpeciesCode, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                    @Html.ValidationMessageFor(model => model.FishSpeciesCode, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.From, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.From, new { htmlAttributes = new { @class = "datefield form-control", @placeholder = @Resources.From } })
                    @Html.ValidationMessageFor(model => model.From, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.To, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.To, new { htmlAttributes = new { @class = "datefield form-control", @placeholder = @Resources.To } })
                    @Html.ValidationMessageFor(model => model.To, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Price, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control", @placeholder = @Resources.Price } })
                    @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
                </div>
            </div>

            @if (!@Request.IsAjaxRequest())
            {
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Create" class="btn btn-default" />
                    </div>
                </div>
            }
        </div>
    }
    <script>
        $(function () {
            ParseInputDate("#From,#To");
            ParseInputDecimal("#Price");
        });
    </script>

    @if (!@Request.IsAjaxRequest())
    {
        @Html.Partial("_BackToListPartial")

        @section Scripts {
            @Scripts.Render("~/js/jqueryval")
        }
    }